.header-menu-icon{
    width: 50px;
    height: 50px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    padding: 1em;
    background-repeat: no-repeat;
    background-position: center;
}

.page-header{
    background-color: var(--header-background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
}

.container{
    display: flex;
    align-items: center;
}

.header-menu-list{
    display: none;
    position: absolute;
    top: 100%;
    padding:1em;
    background-color: var(--header-background-color);
    width: 50vw;
    font-size:larger;
}
.header-menu-item-link:visited{
    color: #FABAFA;
}


.header-menu-button:checked ~ .header-menu-list{
    display: block;

}

.header-menu-list-title, .header-menu-list-item{
    padding:0.6em;

}

.header-menu-list-title{
    font-size: x-large;
    color: var(--laranja);
    font-weight: 700;
}

.header-menu-button{
    display: none;
}